
fastapi                     
uvicorn[standard]           
python-dotenv              
requests                    
streamlit                   
numpy                       
pytz                        
nest-asyncio                

google-generativeai        
langchain-google-genai      

qdrant-client               
flashrank                  

langchain                   
langgraph                   
langchain-groq              
langchain-community        
langchain-openai            
pydantic>=2.0.0           

unstructured               
python-pptx                 
python-docx                 
pypdf                       
beautifulsoup4             
pdfplumber                  

langsmith                   
logfire[fastapi,requests]  
loguru                      

sentence-transformers       

nemoguardrails              
langchain-nvidia-ai-endpoints 
langchain-google-vertexai   

portkey-ai                 