
fastapi                     
uvicorn[standard]           
python-dotenv               
requests                    
streamlit                    
numpy                      


google-generativeai         
langchain-google-genai      


qdrant-client               
flashrank                   

langchain                   
langgraph                   
langchain-groq              
pydantic>=2.0.0             

unstructured                
python-pptx                 
python-docx                
pypdf                       
beautifulsoup4              
pdfplumber                  
langsmith                  
logfire[fastapi,requests]   
loguru                      

sentence-transformers       